In [144]:
import sqlite3

In [145]:
%%bash

if [ ! -e "test.db" ]; then
    # Run this command TWICE to create and prepopulate the table.
    sqlite3 test.db < data/fc_project_tags.sql
else
    echo 'file exist'
fi

file exist

In [166]:
conn = sqlite3.connect('test.db')
c = conn.cursor()

In [169]:
c.execute('''
    CREATE TABLE IF NOT EXISTS fc_project_tag_pairs (
        tag1 varchar(255) NOT NULL,
        tag2 varchar(255) NOT NULL,
        num_projs int(11) NOT NULL
    )
''').fetchone()

In [170]:
c.execute('''
    CREATE TABLE IF NOT EXISTS fc_project_tag_triples (
        tag1 varchar(255) NOT NULL,
        tag2 varchar(255) NOT NULL,
        tag3 varchar(255) NOT NULL,
        num_projs int(11) NOT NULL
    )
''').fetchone()

In [171]:
c.execute('SELECT COUNT(*) FROM fc_project_tags').fetchone()

(353400,)

In [148]:
c.execute('SELECT COUNT(DISTINCT(tag_name)) FROM fc_project_tags').fetchone()

(11006,)

In [149]:
c.execute('SELECT COUNT(DISTINCT(project_id)) FROM fc_project_tags').fetchone()

(46510,)

In [150]:
# The table has two columns - project_id and tag_name;
stmt = '''
    SELECT tag_name, COUNT(*) AS total 
    FROM fc_project_tags 
    GROUP BY tag_name 
    ORDER BY total desc 
    LIMIT 10
'''
res = c.execute(stmt).fetchall()
for tag, count in res:
    print(f'{tag:30}:{count:>5}')

GPL                           :21182
POSIX                         :16875
Linux                         :16288
C                             :10292
OS Independent                :10180
Software Development          : 9619
Internet                      : 8100
Windows                       : 7572
Java                          : 6394
Web                           : 6267

In [159]:
stmt = '''
    SELECT project_id, COUNT(*) AS total, GROUP_CONCAT(tag_name)
    FROM fc_project_tags 
    GROUP BY project_id 
    ORDER BY total DESC 
    LIMIT 10
'''
res = conn.execute(stmt).fetchall()
for project_id, count, tags in res:
    print(project_id, count, tags.split(',')[:3])

ProgrammingError: Cannot operate on a closed database.

In [152]:
# Set percentage threshold for min support.
MIN_SUPPORT_PCT = 5

In [153]:
basket_count_stmt = '''
    SELECT COUNT(DISTINCT(project_id))
    FROM fc_project_tags
'''
basket_count = c.execute(basket_count_stmt).fetchone()[0]
basket_count

46510

In [154]:
min_support = MIN_SUPPORT_PCT / 100 * basket_count
f'Min support is {min_support}'

'Min support is 2325.5'

In [155]:
# Get the tags that meets the minimum support.
get_tags_stmt = '''
    SELECT DISTINCT tag_name
    FROM fc_project_tags
    GROUP BY tag_name
    HAVING COUNT (project_id) >= ?
    ORDER BY tag_name
'''
res = c.execute(get_tags_stmt, (min_support,)).fetchall()
len(res)

29

In [156]:
singletons = [row[0] for row in res]
f'Found {len(singletons)} singletons: {singletons}'

"Found 29 singletons: ['BSD', 'C', 'C++', 'Communications', 'Desktop Environment', 'Dynamic Content', 'English', 'GPL', 'GPLv3', 'Games/Entertainment', 'Internet', 'Java', 'LGPL', 'Libraries', 'Linux', 'Mac OS X', 'Networking', 'OS Independent', 'PHP', 'POSIX', 'Perl', 'Python', 'Scientific/Engineering', 'Software Development', 'Unix', 'Utilities', 'Web', 'Windows', 'multimedia']"

In [157]:
conn.close()

In [160]:
a = [1,2,3,4,5]

def combination(a, k = 2):
    result = []

    def iterate(a, b):
        for i, a_i in enumerate(a):
            c = b + [a_i]
            if len(c) == k:
                result.append(c)
            if len(c) < k:
                iterate(a[i+1:], b + [a_i])
    iterate(a, [])

    return result

# This produces the same results as itertools.combinations
# import itertools
# list(itertools.combinations(a, 3))
combination(a, 3)

[[1, 2, 3],
 [1, 2, 4],
 [1, 2, 5],
 [1, 3, 4],
 [1, 3, 5],
 [1, 4, 5],
 [2, 3, 4],
 [2, 3, 5],
 [2, 4, 5],
 [3, 4, 5]]

In [186]:
doubletons = set()
doubletons_set = set()

def find_doubletons():
    # Use the list of singletons to generate the doubletons candidate.
    doubleton_candidates = combination(singletons, 2)
    
    c = conn.cursor()
    for index, candidate in enumerate(doubleton_candidates):
        # Check if the doubleton candidate is frequent.
        tag1, tag2 = candidate
        
        res = c.execute('''
            SELECT COUNT(fpt1.project_id)
            FROM fc_project_tags fpt1
            INNER JOIN fc_project_tags fpt2 
            ON (fpt1.project_id = fpt2.project_id)
            WHERE fpt1.tag_name = ?
            AND fpt2.tag_name = ?
        ''', (tag1, tag2)).fetchone()
        
        count = res[0]
        
        # Add frequet doubleton to database.
        if count > min_support:
            print(f'{tag1}, {tag2}, [{count}]')
            
            c.execute('''
                INSERT INTO fc_project_tag_pairs(tag1, tag2, num_projs)
                VALUES (?, ?, ?)
            ''', (tag1, tag2, count))
            
            # Save the frequent doubleton to our final list.
            doubletons_set.add((tag1, tag2))
            
            # Add terms to a set of all doubleton terms (no duplicates).
            doubletons.add(tag1)
            doubletons.add(tag2)
            
    # Persist to database.
    conn.commit()

In [187]:
if len(doubletons) == 0:
    find_doubletons()

C, GPL, [5543]
C, Linux, [5653]
C, POSIX, [6956]
C++, GPL, [2914]
C++, Linux, [3428]
C++, POSIX, [3502]
Communications, GPL, [2578]
Dynamic Content, Internet, [3173]
Dynamic Content, Web, [3171]
English, Linux, [2662]
GPL, Internet, [4038]
GPL, Linux, [8038]
GPL, OS Independent, [4405]
GPL, PHP, [2376]
GPL, POSIX, [10069]
GPL, Software Development, [3319]
GPL, Web, [2901]
GPL, Windows, [2605]
GPL, multimedia, [2883]
Internet, OS Independent, [3007]
Internet, POSIX, [2832]
Internet, Web, [5978]
Java, OS Independent, [3436]
Java, Software Development, [2360]
Libraries, Software Development, [5638]
Linux, Mac OS X, [2974]
Linux, POSIX, [11903]
Linux, Software Development, [2336]
Linux, Unix, [2494]
Linux, Windows, [5281]
Mac OS X, Windows, [3131]
OS Independent, Software Development, [3566]
OS Independent, Web, [2605]
POSIX, Software Development, [3503]
POSIX, Unix, [2326]
POSIX, Windows, [4467]
POSIX, multimedia, [2539]

In [198]:
def find_tripletons():
    # Use the list of doubletons to make the tripletons candidates.
    tripleton_candidates = combination(list(doubletons), 3)

    # Sort each candidate tuple and add these to a new sorted candidate list.
    tripleton_candidates_sorted = []
    for tc in tripleton_candidates:
        tripleton_candidates_sorted.append(sorted(tc))
    
    # Prepare cursor.
    c = conn.cursor()
    
    # Figure out if this candidate is frequent.
    for index, candidate in enumerate(tripleton_candidates_sorted):
        # All doubletons insude this tripleton candidate MUST also be frequent.
        doubletons_inside_tripletons = combination(candidate, 2)
        
        tripleton_candidate_rejected = 0
        for index, doubleton in enumerate(doubletons_inside_tripletons):
            doubleton_tuple = (doubleton[0], doubleton[1])
            if doubleton_tuple not in doubletons_set:
                tripleton_candidate_rejected = 1
                break
        
        if tripleton_candidate_rejected > 0:
            continue
        
        # Add frequent tripleton to the database.
        res = c.execute('''
            SELECT count(fpt1.project_id)
            FROM fc_project_tags fpt1
            INNER JOIN fc_project_tags fpt2
            ON (fpt1.project_id = fpt2.project_id)
            INNER JOIN fc_project_tags fpt3
            ON (fpt2.project_id = fpt3.project_id)
            WHERE fpt1.tag_name = ? AND
                  fpt2.tag_name = ? AND
                  fpt3.tag_name = ?
        ''', (candidate[0], 
              candidate[1], 
              candidate[2])).fetchone()
        
        count = res[0]
        
        if count > min_support:
            print(f'{candidate} [{count}]')
            
            c.execute('''
                INSERT INTO fc_project_tag_triples 
                    (tag1, tag2, tag3, num_projs)
                VALUES (?, ?, ?, ?)
            ''', (candidate[0],
                  candidate[1],
                  candidate[2],
                  count))

In [199]:
find_tripletons()

['C', 'GPL', 'POSIX'] [4364]
['C', 'Linux', 'POSIX'] [4629]
['C++', 'Linux', 'POSIX'] [2622]
['Linux', 'POSIX', 'Windows'] [3315]
['GPL', 'Linux', 'POSIX'] [7384]
['C', 'GPL', 'Linux'] [3299]
['Internet', 'OS Independent', 'Web'] [2519]
['Dynamic Content', 'Internet', 'Web'] [3166]
['GPL', 'Internet', 'Web'] [2878]

In [200]:
def generate_rules():
    pass